#box1{
    width: 300px;
    height: 200px;
    background-image: url('../static/img/1.jpg');
}
#box2{
    width: 300px;
    height: 200px;
    background-image: url('../static/img/2.jpeg');
}
#box3{
    width: 300px;
    height: 200px;
    background-image: url('../static/img/3.jpg');
}